body {
    margin: 0;
    padding: 0;
    background-color: #2c3e50;
}
.f {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.maze {
    width: 780px;
    height: 780px;
    overflow: hidden;
    background-color: #f0f0f0;
}
.movable {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color:#e74c3c;
    border-radius: 50%;
    transition: transform 0.1s ease-out;
}

.wall {
    float: left;
    background-color: #2c3e50;
    width: 20px;
    height: 20px;
}
.road {
    float: left;
    width: 20px;
    height: 20px;
}